<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- Add view to edit team accessed from user profile page. -->

<!-- Main view concept: view shows form that has team name and character inputs prefilled in a text input and dropdown menu's. user can submit the form via a button and is redirected back to the user profile page with the updated information.-->

<main>
  <h1>hi</h1>
  <h1>Edit Team</h1>
<%= team.name %>
<h1>Create team</h1>
    <form action="/teams/<%= team._id %>?_method=PUT" method="POST">
      <label for="name">Team Name:</label>
      <input type="text" id="name" name="name" autocomplete="off" value="<%= team.name %>">

      <select name="char1" id="char1">
        <option value=""></option>
        <% chars.forEach((char) => { %>
          <option value="<%= char._id %>"><%= char.name %></option>
        <% }) %>
      </select>
      <select name="char2" id="char2Dropdown">
        <option value=""></option>
        <% chars.forEach((char) => { %>
          <option value="<%= char._id %>"><%= char.name %></option>
        <% }) %>
      </select>
      <select name="char3" id="char3Dropdown">
        <option value=""></option>
        <% chars.forEach((char) => { %>
          <option value="<%= char._id %>"><%= char.name %></option>
        <% }) %>
      </select>
      <select name="char4" id="char4Dropdown">
        <option value=""></option>
        <% chars.forEach((char) => { %>
          <option value="<%= char._id %>"><%= char.name %></option>
        <% }) %>
      </select>
      <button type="submit">Edit Team</button>
    </form>
</main>
  <%- include('../partials/footer') %>