<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- Add view to edit team accessed from user profile page. -->

<!-- Main view concept: view shows form that has team name and character inputs prefilled in a text input and dropdown menu's. user can submit the form via a button and is redirected back to the user profile page with the updated information.-->

<main>

  <h1>Edit Team</h1>
    <div class="form-background">
      <form
      id="new-form"
      action="/profiles/teams/<%= team._id %>/edit-team?_method=PUT" 
      method="POST">
    <div class="form-group">
      <label for="name">Team Name:</label>
      <input type="text" name="name" id="name" value="<%= team.name %>" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="char1">Character 1:</label>
      <select name="char1" id="char1" >
      <% characters.forEach(function(character) { %>
        <option value="<%= character._id %>" <% if (team.characters[0] && team.characters[0]._id.toString() === character._id.toString()) { %>selected<% } %>>
        <%= character.name %>
        </option>
      <% }) %>
      </select>
    </div>
    <div class="form-group">
      <label for="char2">Character 2:</label>
      <select name="char2" id="char2" >
        <% characters.forEach(function(character) { %>
          <option value="<%= character._id %>" <% if (team.characters[1] && team.characters[1]._id.toString() === character._id.toString()) { %>selected<% } %>>
          <%= character.name %>
          </option>
        <% }) %>
      </select>
    </div>
    <div class="form-group">
      <label for="char3">Character 3:</label>
      <select name="char3" id="char3" >
        <% characters.forEach(function(character) { %>
          <option value="<%= character._id %>" <% if (team.characters[2] && team.characters[2]._id.toString() === character._id.toString()) { %>selected<% } %>>
          <%= character.name %>
          </option>
        <% }) %>
      </select>
    </div>
    <div class="form-group">
      <label for="char4">Character 4:</label>
      <select name="char4" id="char4">
        <% characters.forEach(function(character) { %>
          <option value="<%= character._id %>" <% if (team.characters[3] && team.characters[3]._id.toString() === character._id.toString()) { %>selected<% } %>>
          <%= character.name %>
          </option>
        <% }) %>
      </select>
    </div>
    <button type="submit">Edit Team</button>
    </form>
  </div>
</main>
char
<%- include('../partials/footer') %>