<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Team Name: <%= team.name %></h1>
<h3>Created By: <%= team.createdBy.name %></h3>
<h3>Characters:</h3>
<ul>
  <% for (let char of team.characters) { %>
    <li><%= char.name %></li>
  <% } %>
</ul>
<a href="../profiles/edit-team">edit</a>



<%- include('../partials/footer') %>