<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Team Name: <%= team.name %></h1>
<h3>Created By: <%= team.createdBy.user.name %></h3>



<%- include('../partials/footer') %>