<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<body>
  <h1>Teams</h1>
  <ul>
    <% teams.forEach((team) => { %>
      <li>
        <a href="/teams/<%= team._id %>"><%= team.name %></a>
      </li>
    <% }) %>
  </ul>
</body>

<%- include('../partials/footer') %>