<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<body>
  <h1>Teams</h1>
  <ul>
    <% teams.forEach((team) => { %>
      <li>
        <a href="./teams/<%= team._id %>"><%= team.name %></a>
        <form action="/profiles/teams/<%= team._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
          <input type="hidden" name="teamId" value="<%= team._id %>">
        </form>
      </li>
    <% }) %>
  </ul>
</body>

<%- include('../partials/footer') %>