<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- Add view to create team. displays form with: 
  one text input
  four dropdown inputs
  one submit button with the form sending a post request to our profile teams section -->

  <body>
    <h1>Create team</h1>
    <form action="../profiles/profile" method="POST">
      <label for="name">Team Name:</label>
      <input type="text" id="name" name="name" autocomplete="off">

      <select name="char1" id="char1Dropdown">
        <option value=""></option>
        <% characters.forEach((char) => { %>
          <option value="<%= char._id %>"><%= char.name %></option>
        <% }) %>
      </select>
      <select name="char2" id="char2Dropdown">
        <option value=""></option>
        <% characters.forEach((char) => { %>
          <option value="<%= char._id %>"><%= char.name %></option>
        <% }) %>
      </select>
      <select name="char3" id="char3Dropdown">
        <option value=""></option>
        <% characters.forEach((char) => { %>
          <option value="<%= char._id %>"><%= char.name %></option>
        <% }) %>
      </select>
      <select name="char4" id="char4Dropdown">
        <option value=""></option>
        <% characters.forEach((char) => { %>
          <option value="<%= char._id %>"><%= char.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add Team</button>
    </form>
  </body>

  <%- include('../partials/footer') %>