<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<!-- display all user profile images, with link to their profile view, only to other logged in users. -->
<main>
  <h1>Hello, <%= user ? user.profile.name : "Traveller" %></h1>
  <% if (user?.profile.avatar) { %>
  <div>
    <img
      src="<%= user.profile.avatar %>"
      alt="<%= user.profile.name %> avatar"
      />
  </div>
  <% } %>
</main>
<%- include('./partials/footer') %>
