<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<body>
  <h1 class="page-title"><%= abyss.title %></h1>
  <section>
    <div class="abyss-grid">
        <div class="abyss-card-container">
          <div class="abyss-description">
            <div class="abyss-date">
              <p>
                Start Date: <%= abyss.startDate.toLocaleDateString() %>
                <br />
                End Date: <%= abyss.endDate.toLocaleDateString() %>
              </p>
            </div>
            <div class="abyss-content">
              <p><%= abyss.content %></p>
              <div class="rating-container">
                <% abyss.floors.forEach((floor) => { %>
                  <div class="rating-group">
                    <h8>| Floor #<%= floor.name %> |</h8>
                    <div class="stars-container">
                      <% floor.levels.forEach((level) => { %>
                        <span class="star" data-rating="<%= level.ratings.length %>"></span>
                      <% }) %>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
            <p class="abyss-updated">
              <h8>Updated At: <%= abyss.updatedAt.toLocaleDateString() %></h8>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<%- include('../partials/footer') %>
