<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<body>
  <h1 class="page-title">Abyss-All!</h1>
  <h3>Click the links to see details on each abyss!</h3>
  <section>
    <div class="abyss-grid">
      <ol>
        <% abysses.forEach(abyss => { %>
          <li class="abyss-card">
            <a href="/abysses/<%= abyss._id %>">
                <div class="abyss-description">
                  <h2 class="abyss-title"><%= abyss.title %></h2>
                  <div class="abyss-date">
                    <p>
                      Start Date: <%= abyss.startDate.toLocaleDateString() %>
                      <br />
                      End Date: <%= abyss.endDate.toLocaleDateString() %>
                    </p>
                  </div>
                  <div class="abyss-content">
                    <p><%= abyss.content %></p>
                    </div>
                    <p class="abyss-updated">
                      <h8>Updated At: <%= abyss.updatedAt.toLocaleDateString() %></h8>
                    </p>
                  </div>
              </a>
              </li>
          <% }) %>
        </ol>
    </div>
  </section>
</body>

<%- include('../partials/footer') %>