<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% if (user && user.admin) { %>
  <form action="new-abyss" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" required>

    <label for="startDate">Start Date:</label>
    <input type="date" name="startDate" required>

    <label for="endDate">End Date:</label>
    <input type="date" name="endDate" required>

    <label for="content">Content:</label>
    <textarea name="content" required></textarea>

    <div id="floors-container">
      <% floors.forEach(floor => { %>
        <div class="floor">
          <h3 class="floor-title">Floor <%= floor.name %></h3>
          <div class="expandable-content">
            <% for (let i = 1; i <= 3; i++) { %>
              <div class="level">
                <h4 class="level-title">Level <%= i %></h4>
                <div class="expandable-content">
                  <% for (let h = 1; h <= 2; h++) { %>
                    <h3>Half <%= h %></h3>
                    <div class="enemy-container" id="enemy-container-floor-<%= floor.name %>-level-<%= i %>-half-<%= h %>">
                      <button type="button" id="add-enemy-floor-<%= floor.name %>-level-<%= i %>-half-<%= h %>">Add</button>
                      <select name="enemies-floor-<%= floor.name %>-level-<%= i %>-half-<%= h %>[]" required>
                        <option value="" disabled selected>Select Enemy</option>
                        <% enemies.forEach(enemy => { %>
                          <% const enemyOptionValue = enemy._id; %>
                          <% const enemyOptionText = enemy.name; %>
                          <option value="<%= enemyOptionValue %>"><%= enemyOptionText %></option>
                        <% }); %>
                      </select>
                      <input type="number" name="levels-floor-<%= floor.name %>-level-<%= i %>-half-<%= h %>[]" min="60" max="120" step="10" value="60" >
                      <button type="button" class="remove-enemy">Remove</button>
                    </div>
                  <% } %>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>
    <button type="submit">Create Abyss</button>
  </form>
<% } %>

<%- include('../partials/footer') %>