<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<body>
  <h1>New Enemy Page</h1>
  <form action="create-enemy" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required>
    
    <label for="image">Image Link:</label>
    <input type="text" name="image" required>
    
    <label for="type">Type:</label>
    <input type="text" name="type" required>
    
    <button type="submit">Create Enemy</button>
  </form>
  
  <div id="enemies" class="enemy-grid">
    <h2>Enemy List</h2>
    <button type="button" id="toggle-enemy-list">Toggle Enemy List</button>
    <ol id="enemy-list" class="hidden">
      <% enemies.forEach(enemy => { %>
      <li class="enemy-card">
        <div class="enemy-name-container">
          <img src="<%= enemy.image %>" alt="<%= enemy.name %>">
          <h3 class="enemy-name">
            <%= enemy.name %>
          </h3>
        </div>
      </li>
      <% }) %>
    </ol>
  </div>
  
</body>

<script>
  const toggleEnemyListButton = document.getElementById("toggle-enemy-list")
  const enemyList = document.getElementById("enemy-list")
  
  toggleEnemyListButton.addEventListener("click", () => {
    enemyList.classList.toggle("hidden")
  })

  const enemyCards = document.querySelectorAll(".enemy-card")

  enemyCards.forEach(enemyCard => {
    enemyCard.addEventListener("click", () => {
      const enemyName = enemyCard.querySelector(".enemy-name").innerText
      const enemyNameInput = document.querySelector("input[name='name']")
      enemyNameInput.value = enemyName
    })
  })

</script>
  <%- include('../partials/footer') %>