<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- all chars pg -->
<body>
  <h1>Genshin Impact Characters</h1>
  <section>
    <h3>Click the links to see details on the character!</h3>
    <div class="character-grid">
      <ul>
        <% characters.forEach(character => { %>
          <div class="character-card-container">
            <li class="character-card">
              <div class="character-name-container">
                
                  <a href="/characters/<%= character._id %>">
                    <img src="<%= character.cardImg %>" alt="<%= character.name %>">
                    <h3 class="character-name">
                    <%= character.name %>
                  </h3>
                </a>
              </div>
            </li>
            <img src="/svg/<%= elementMappings[character.element] %>" alt="<%= character.element %>" class="element-icon">
            <img src="/images/<%= weaponMappings[character.weapon] %>" alt="<%= character.weapon %>" class="weapon-icon">
          </div>
        <% }) %>
      </ul>
    </div>
  </section>
</body>
<%- include('../partials/footer') %>
