<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- all chars pg -->
<body>
<h1>Genshin Impact Characters</h1>

  <!-- <form method="get" action="/characters/new">
    <button type="submit">Add New Character</button>
  </form> -->
    <section>
      <h2>Add a Character!</h2>
        <form action="/characters" method="POST">
          <div>
            <label for="name">
              Name:
            </label>
            <input type="text" name="name" autocomplete="off">
          </div>
          <div>
            <label for="image">Image URL:</label>
      <input type="url" id="image" name="image">
          </div>
          <button type="submit">Add Character</button>
      <h1>All the Characters!</h1>
      <ul>
        <% characters.forEach(char => { %>
          <li>
            🧑
            <a href="/characters/<%= char._id %>"><%= char.name %></a>
            
          </li>
        <% }) %>
      </ul>
          
        </form>
    </section>
  </body>
  

<%- include('../partials/footer') %>
