<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- all chars pg -->
<body>
  <h1>Genshin Impact Characters</h1>
  <section>
    <div class="character-grid">
      <h3>Click the links to see details on the character!</h3>
      <ul>
        <% characters.forEach(character => { %>
          <div class="character-card-container">
            <li class="character-card">
              <div class="character-name-container">
                
                  <a href="/characters/<%= character._id %>">
                    <img src="<%= character.cardImg %>" alt="<%= character.name %>">
                    <h3 class="character-name">
                    <%= character.name %>
                  </h3>
                  </a>
              </div>
            </li>
          </div>
        <% }) %>
      </ul>
    </div>
  </section>
</body>
<%- include('../partials/footer') %>
