<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- all chars pg -->
<body>
<h1>Genshin Impact Characters</h1>

    <section>
      <h1>All the Characters!</h1>
      <div class="character-grid">
<h3>Click the links to see details on the character!</h3>
        <ul>
          <% characters.forEach(char => { %>
            <li class="character-card">

              <h3 class="character-name">
                <a href="/characters/<%= char._id %>"><%= char.name %></a>
              </h3>
            </li>
            <% }) %>
          </ul>
        </div>
          
    </section>
  </body>
  

<%- include('../partials/footer') %>
