<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- char details pg -->
<h1>ho</h1>
<h1><%= char.name %></h1>
<img src="<%= char.image %>" alt="<%= char.name %>">


<%- include('../partials/footer') %>