<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- char details pg -->
<h1>Character Details</h1>
<h1><%= char.name %></h1>
<h2><%= char.details %></h2>

<%- include('../partials/footer') %>